.background1 {
  background-image: url('images/pot.jpg');
}
.background2 {
  background-image: url('images/sickle.jpg');
}
.navigation {
    display: flex;
    justify-content: center;
  }
  .navigation a {
    margin: 0 10px;
  }
  .index-item {
    list-style-type: upper-latin
  }
.poem-container {
  margin-left: 40px;
}