.background1 {
  background-image: url('images/pot.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

.background2 {
  background-image: url('images/ouroboros.jpg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50% auto;
}

.navigation {
  position: flex;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: right;
  text-decoration: none;
  color: black;
  background-blend-mode: difference;
}

.navigation a {
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
}

.navigation a:visited {
  color: inherit;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

.index-item {
  list-style-type: disclosure-closed;
  margin-left: 10px;
  text-decoration: none;
  color:black;
}

li.index-item a {
  color: black;
  text-decoration: none;
}

li.index-item a:hover {
  text-decoration: underline;
}

.poem-container {
  margin-top: 100px; 
  margin-left: 50px;
  margin-right: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1024px;
  margin: 60px auto;
}

.gallery img {
  width: 640px;
  height: 640px;
  object-fit: cover;
}

.gallery .video-container {
  margin-top: 10vh;
  margin-bottom: auto;
  width: 480px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.gallery .video-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.gallery .video-container .cover-text {
  position: absolute;
  bottom: 0px;
  right: 15px;
  color: black;
}

.gallery .video-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.gallery .video-container.show-video iframe {
  display: block;
}

.audio-container {
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: 100px;
  position:relative;
}

.audio-controls {
  display: block; 
}

.audio-text {
  margin-top: 15px;
}

@media only screen and (max-width: 600px) {
  .audio-container {
    width: 100%;
  }
}

.music-content {
  text-align: right;
  color: red;
  position: absolute;
  bottom: 0%;
  left: 1%;
  transform: translate(0, -50%);
}
