* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.19;
    color: #191919;
    background-color: #fff;
    max-width: 100%;
    overflow-x: hidden;
}

.navigation {
    display: flex;
    padding-top: 19px;
    padding-right: 119px;
    padding-bottom: 0px;
    padding-left: 119px;
    width: 100%;
    max-width: 1919px; 
    margin: 0 auto; 
    justify-content: flex-end;
    flex-wrap: wrap;
    line-height: 39px;
}

.navigation a {
    margin-left: 29px;
    text-decoration: none;
    color: #191919;
    font-size: 29px;
    white-space: nowrap;
}
.navigation a:hover {
    text-decoration: underline;
}

.category-nav {
    display: flex;
    padding-top: 9px;
    padding-right: 119px;
    padding-bottom: 0px;
    padding-left: 119px;
    width: 100%;
    max-width: 1919px; 
    margin: 0 auto; 
    flex-direction: column; 
    align-items: flex-end; 
    row-gap: 9px; 
}

.category-nav a {
    text-decoration: none;
    font-size: 29px;
    color: #191919;
}

.category-nav a:hover {
    text-decoration: underline;
}

.language-switcher {
    margin-right: auto; 
    white-space: wrap;
}

.language-switcher a {
    text-decoration: none;
    font-size: 29px;
    margin-left: 0px;
}

.language-switcher a:hover {
    text-decoration: underline;
}

.content {
    padding-right: 119px;
    padding-left: 119px;
    padding-top: 79px;
    width: 100%;
    max-width: 1919px;
    margin: 0 auto;
    overflow-wrap: break-word;
}

.poem-container {
    margin-bottom: 91px;
    font-size: 29px;
}

.poem-container h2 {
    margin-bottom: 19px;
    font-weight: bold;
    font-size: 29px;
}

.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.custom-audio-player {
    width:69%;
    background: white;
    padding: px;
    border-radius: 9%;
}

.controls {
    display: flex;
    align-items: center;
    gap: 29px;
}

.play-btn {
    min-width: 49px;
    min-height: 49px;
    background: #ffffff;
    color: #191919;
    border: none;
    border-radius: 19%;
    font-size: 39px;
    cursor: pointer;
}

.time {
    font-size: 29px;
    min-width: 79px;
}