* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    max-width: 100%;
    overflow-x: hidden;
}

.navigation {
    display: flex;
    padding: 0px 0px 72px;
    width: 100%;
    justify-content: flex-end;
}

.navigation a {
    margin-right: 48px;
    text-decoration: none;
    color: #000;
    font-size: 48px;
}

.navigation a:hover {
    text-decoration: underline;
}

.content {
    padding: 0 30px 30px;
    width: 100%;
}

.index-item {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 10px;
    position: relative;
    padding-left: 15px;
}

.index-item:before {
    content: ">";
    position: absolute;
    left: 0;
}

.index-item a {
    color: #000;
    text-decoration: none;
    font-size: 48px;
}

.index-item a:hover {
    text-decoration: underline;
}

.poem-container {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 48px;
}

.poem-container h2 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 48px;
}

.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
