* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    max-width: 100%;
    overflow-x: hidden;
}

.navigation {
  position: flex;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: right;
  text-decoration: none;
  color: black;
  background-blend-mode: difference;
}

.navigation a {
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
}

.navigation a:visited {
  color: inherit;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

.content {
    padding: 0 30px 30px;
    width: 100%;
    max-width: 800px;
}

.index-item {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 10px;
    position: relative;
    padding-left: 15px;
}

.index-item:before {
    content: ">";
    position: absolute;
    left: 0;
}

.index-item a {
    color: #000;
    text-decoration: none;
}

.index-item a:hover {
    text-decoration: underline;
}

.poem-container {
    margin-top: 60px;
    margin-bottom: 40px;
}

.poem-container h2 {
    margin-bottom: 15px;

}

.video-responsive {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media (min-width: 1200px) {
    .video-responsive {
        max-width: 700px;
    }
}